.notification {
    font-weight: 900;
    background-color: lightgray;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 5px;
    border: 3px solid;
}

.notification.success {
    color: green;
    border-color: green;
}

.notification.error {
    color: red;
    border-color: red;
}